body
{padding-top:20px;
}
div.line
{
    height: 3px;
    width: 70px;
    background-color: #000;
}



    .address
{
  line-height:10px;
}
.field-column
{
 
  font-weight:bold;
}
.payment-note
{
  font-style: italic;

}

.panel
{
    margin-top:20px;
    
}

.borderless td, .borderless th {
  border: none;
  
 
}
.table
{
  margin-bottom: 0;
}
.align-right
{
  text-align: right;
  font-weight:bold;
  
}
.fixed-height
{
  height: 30px !important;
  
}
legend
  {
    color:#337ab7;
  }

  .itinerary-divider
{
  margin-top:2px;
  margin-bottom: 2px;
}
.well
{
  border:none;
}
.booking-error
{
  margin-top:0;
}