<app-navbar [childMessage]="parentMessage"></app-navbar>
<div class="container" *ngIf="!error; else errorBlock">
    <div class="col-sm-3 ">
        <div class="panel-group ">
          <div class="panel panel-info " *ngIf="complete?.confirmedData">
            <div class="panel-heading"><strong>Your Itinerary</strong></div>
            <div class="panel-body">
  
              <p><strong>{{complete?.confirmedData.holidayName}}</strong></p>
              <strong>Passengers</strong>
              <hr class="itinerary-divider">
              <p><i class="fa fa-user"></i> Adults {{complete?.confirmedData.adults}}</p>
              <p><i class="fa fa-child"></i> Children {{complete?.confirmedData.children}}</p>
              <strong>Departure details</strong>
              <hr class="itinerary-divider">
              <p><i class="far fa-calendar-check"></i> Date {{complete?.confirmedData.departureDate}}</p>
            
            </div>
          </div><br>
       
  
  
        </div>
      </div>
      <div class="col-sm-9 " >
    <div class="panel panel-primary ">
        <!-- <div class="panel-heading text-center"><h4>Booking Status - {{complete.cardProcessing.worldPayPaymentStatus}}</h4></div> -->
        <div class="panel-body" *ngIf="!loading && complete?.cardProcessing.worldPayPaymentStatus.toLowerCase() !='declined'; else declinedBlock">
          
                <legend class="text-center"><i class="fa fa-ticket-alt"></i>&nbsp;Your Confirmed Booking Details</legend>
                <div class="alert alert-info">
                    <div class='row '>
                      <div class='col-sm-12 '>
                          <p class="payment-note" ><i class="fa fa-info-circle"></i>&nbsp;{{complete?.footnotes.final}}</p>
                <p  class="payment-note" [innerHTML]="complete?.footnotes.paynote"></p>
                
                        </div>
                    </div>
                  </div>
                <div class="well">
                <table class="table table-condensed borderless">
                    
                    <tbody>
                      <tr>
                        <td class="align-right col-sm-3"><i class="fa fa-ticket-alt"></i>&nbsp;Booking Reference</td>
                        <td ><strong>{{complete.confirmedData.bookingRef}}</strong></td>
                        <td class="alert alert-info"><i class="fa fa-info-circle"></i>&nbsp;<span class="payment-note ">Please quote this reference in making any enquiries</span></td>
                      </tr>
                      <tr>
                        <td class="align-right col-sm-3"><i class="fas fa-user"></i>&nbsp;Lead Passenger</td>
                        <td>{{complete.confirmedData.leadName}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="align-right col-sm-3"><i class="fas fa-home"></i>&nbsp;Postal Address</td>
                        <td > {{complete.confirmedData.postalAddress.CCardAddress1}}
                         
                        <td class="alert alert-info " ><i class="fa fa-info-circle"></i>&nbsp;<span class="payment-note ">Any future correspondence will be mailed to this address.</span></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td > 
                          <p class="address">{{complete.confirmedData.postalAddress.CCardAddress2}}</p>
                          <p class="address">{{complete.confirmedData.postalAddress.CCardCity}}</p>
                          <p class="address">{{complete.confirmedData.postalAddress.CCardPostCode}}</p>
                          <p class="address">{{complete.confirmedData.postalAddress.CCardCountry}}</p></td>
                          <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            <legend ><i class="fas fa-bed"></i>&nbsp;Accommodation</legend> 
            <div class="well">
            <div class='row' *ngFor="let item of complete?.confirmedData.paxAccomDetails">
              <div class='col-sm-9 col-sm-offset-3'>
                  <i class="fas fa-user"></i>&nbsp;&nbsp;<strong>{{item}}</strong>
        
              </div>
             
            </div>
          </div>
            <legend><i class="fa fa-money-bill"></i>&nbsp;Cost Breakdown </legend>
            <div class="well">
            <table class="table borderless table-condensed">
   
                <tbody>
                   
                  <tr  *ngFor="let item of complete?.confirmedData.costBreakdown.costingAreas">
                    <td class="align-right col-sm-7"><strong>{{item.quantity}}  x  <span [innerHTML]="item.item"> </span></strong></td>
                    <td class="col-sm-6">&pound;{{item.total}}</td>
                    
                  </tr>
                  
                  <tr>
                    <td  class="align-right  col-sm-7"><strong>Total Cost</strong></td>
                    
                    <td ><div class="line"></div> &pound;{{complete?.confirmedData.costBreakdown.costingSummary.grandTotal}}</td>
                   
                  </tr>
                  <tr>
                    <td class="align-right col-sm-7"><strong>Less Paid</strong></td>
                    <td>&pound;{{complete?.confirmedData.costBreakdown.costingSummary.amountPaid}}</td>
                   
                  </tr>
                  <tr>
                      <td class="align-right col-sm-7"><strong>Balance Owing</strong></td>
                      <td><div class="line"></div> &pound;{{complete?.confirmedData.costBreakdown.costingSummary.balance}}</td>
                     
                    </tr>
                    <tr>
                        <td class="align-right col-sm-7"><strong>Due date</strong></td>
                        <td><strong>{{complete?.confirmedData.costBreakdown.costingSummary.balanceDueDate}}</strong></td>
                       
                      </tr>
                </tbody>
              </table>
            </div>
            
        </div>
        <ng-template #declinedBlock>
          <legend><h3 class="text-center" style="color:#a94442"><i class="fa fa-exclamation-triangle" ></i>&nbsp;Sorry, A Booking Error has occured</h3></legend>
            <div class="alert alert-danger booking-error"><strong>Payment Status: {{complete?.cardProcessing.worldPayPaymentStatus}}</strong><p>You have not been charged but we cannot accept this form of payment at this time.Please try another form of payment or try again at a later time. </p></div>
        
        </ng-template>
      </div>
    </div>
 
</div>
<ng-template #errorBlock>
  <div class="container">
    <div class="alert alert-danger booking-error">{{error}}</div>
  </div>
</ng-template>
<div *ngIf="!loading" class="container-fluid">
  
  <div class="panel-group text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">XML output</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
       
      </div>
    </div>
  </div>
</div>