.panel-group,.top-padding
{
    padding-top:20px;
}


.itinerary-divider
{
  margin-top:2px;
  margin-bottom: 2px;
}




.top-padding
{
    padding-top:20px;
}
.btn-primary
{
  width:100%
}

.alert-warning
{
  margin-bottom: 0;
}
.badge
{
  background-color:#FF3D61;
  border:none;
}