<div *ngIf="loading" class="loading-modal">
  <div class="loading-modal__block">
      <i class="fas fa-spinner  loading-modal__icon"></i>
      <p>Please wait...</p>
  </div>
</div>
<form #extrasForm="ngForm"  novalidate>
  <app-navbar [childMessage]="parentMessage"></app-navbar>
  
  <div class="container"  *ngIf="!error; else errorBlock">
    <div class="row">
      <div class="col-sm-3 " >
        <div class="panel-group "  >
          <div class="panel panel-info " *ngIf="extras?.tourName">
            <div class="panel-heading"><strong>Your Itinerary</strong></div>
            <div class="panel-body">
  
              <p><strong>{{extras?.tourName}}</strong></p>
              <strong>Passengers</strong><hr class="itinerary-divider">
              <p><i class="fa fa-user" ></i> Adults {{extras?.fAdults}}</p>
              <p><i class="fa fa-child"></i> Children  {{extras?.fChildren}}</p>
              <strong>Departure details</strong><hr class="itinerary-divider">
  <p><i class="far fa-calendar-check" ></i> Date {{extras?.tourDepDate}}</p>
  <p *ngIf="bookingParams.tourTransport=='AIR'"><i class="fa fa-plane" ></i> From {{extras?.depPointName}}</p>
  <p *ngIf="bookingParams.tourTransport=='RAIL'"><i class="fa fa-train" ></i> From {{extras?.depPointName}}</p>
            </div>
          </div><br>
          <div class="panel panel-info " *ngIf="extras?.tourName">
              <div class="panel-heading"><strong>Accommodation details</strong></div>
              <div class="panel-body">
    
   
    <p *ngIf="extras.accType=='ship'; else condition2"><i class="fa fa-ship" ></i> {{extras?.hotelName}}</p>
    <ng-template #condition2><p ><i class="fa fa-hotel" ></i> {{extras?.hotelName}}</p></ng-template>
              </div>
            </div>
        
          
        </div>
      </div>
     <div class="col-sm-9"> <legend *ngIf="extras?.blocks?.length > 0" class="text-center intro-text"><h3><b>Holiday Extras</b></h3></legend> 
        <!-- <p *ngIf="extras?.blocks?.length > 0" class="text-center alert alert-warning"  >Save money on all those little extras that add up. </p> -->
       </div>
     
      <div class="col-sm-9" *ngIf="extras?.blocks?.length > 0; else noextras">
       
        <div class="row" *ngFor="let block of extras?.blocks;let row=index"><div class="col-sm-12 "><legend><h3  style="color:#337ab7;">{{block.header}}</h3></legend><p [innerHTML]="block.body"></p>
      <table class="table table-hover ">
        <thead>
          <tr>
            <th><strong>Tickets</strong></th>           
            <th><strong>{{block.message}}</strong></th>
           
            <th><strong>Price</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of block?.optionals; let i=index; let odd=odd; let even=even;"  [ngClass]="{ odd: odd, even: even }">
            <td *ngIf="item?.tktAvail =='T';else soldOut"><select  class="select-style"  name="ExtrasSel_{{row}}_{{i}}" #selected="ngModel" ngModel (change)="setExtras(selected,item.xBookingKey, item.maxQty, item.minQty,block.blockMin,block.blockMax,block.header)"  >
                <option value="" selected >--</option>  
                <option *ngFor="let i of item.range">{{i}}</option></select></td>
                <ng-template #soldOut><td><span class="badge">SOLD OUT</span></td></ng-template>
            <td  [innerHTML]="item.text"></td>
            <td>{{item.rate| currency:'GBP':true:'0.0-0'}} {{item.priceBasis}}</td>
            
          </tr>
       
        </tbody>
      </table>
   
    </div>
    </div>
    
    <button type="button"  class="btn btn-primary btn-lg" (click)="selectExtras(extrasForm)">Continue&nbsp;<i class="fa fa-angle-double-right"></i></button>
    </div>
    
    <ng-template  #noextras><div class="col-sm-9" *ngIf="extras?.tourName"><h4 class="text-center" style="color:#337ab7;padding-top:20px">No extras are available. Please click the 'Continue' button.</h4> <button type="button"  class="btn btn-primary btn-lg" (click)="selectExtras(extrasForm)">Continue&nbsp;<i class="fa fa-angle-double-right"></i></button></div></ng-template>
    
   
  </div>
</div>
  <ng-template #errorBlock><div class="container" > <div class="alert alert-danger booking-error">{{error}}</div></div></ng-template>
  <div *ngIf="!loading" class="container-fluid">
  
    <div class="panel-group text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">XML output</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
         
        </div>
      </div>
    </div>
  </div>
  </form>