<nav class="navbar navbar-default navbar-fixed-top">
  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href=""><img  class="logo"  src="https://cdn.assets.newmarketholidays.co.uk/images/v2/home/logo.png"></a>
    </div>
    <div class="container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav ">
       
        <li><a routerLink="/holidays" routerLinkActive="active">Air Holidays & Breaks</a></li>
        <li><a routerLink="/coach" routerLinkActive="active">Coach & Rail Breaks</a></li>
        <li><a routerLink="/ocean-cruises" routerLinkActive="active">Ocean Cruises</a></li>
        <li><a routerLink="/river-cruises" routerLinkActive="active">River Cruises</a></li>
        <li> <a routerLink="/events" routerLinkActive="active">Events & Concerts</a></li>
        <li> <a routerLink="/entertainment" routerLinkActive="active">Rock, Pop & Live Entertainment</a></li>
      </ul>
    </div>
  </div>
</nav> 

<!-- <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top ">
  <div class="container">
    <a class="navbar-brand" href="#">Newmarket Holidays</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/holidays" routerLinkActive="active">Air Holidays & Breaks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coach" routerLinkActive="active">Coach & Rail Breaks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ocean-cruises" routerLinkActive="active">Ocean Cruises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/river-cruises" routerLinkActive="active">River Cruises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active">Events & Concerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/entertainment" routerLinkActive="active">Entertainment</a>
        </li>

      </ul>
    </div>
  </div>
</nav> -->