<footer class="footer">
  <hr class="divider">
<nav class="navbar navbar-default">
    <div class="container">
    
      
      <ul class="nav navbar-nav ">
        <li><a href="https://www.newmarketholidays.co.uk/about-us"  target="_blank">Company Information</a></li>
        <li><a href="https://www.newmarketholidays.co.uk/tandc_gen" target="_blank">Terms & Conditions</a></li>
        <li><a href="https://www.newmarketholidays.co.uk/privacy" target="_blank" >Privacy Policy</a></li>
        <li><a href="https://www.newmarketholidays.co.uk/contact-us" target="_blank" >Contact Us</a></li>
        
      </ul>
    </div>
  </nav>
</footer>
