.panel-group
{
    padding-top:20px;
    
}


.itinerary-divider
{
  margin-top:2px;
  margin-bottom: 2px;
}
.panel-footer.side-bar {
    background: #d9edf7;
    color: #31708f;
}
.panel-footer.acco {
    height: 50px ;
  }

  .top-buffer{
    padding: 5px;
  }

  .top-buffer:hover{
    background-color: #f5f5f5
  }

