<!-- Navigation Area (Circular Tabs) -->
<div *ngIf="loading" class="loading-modal">
  <div class="loading-modal__block">
      <i class="fas fa-spinner  loading-modal__icon"></i>
      <p>Please wait...</p>
  </div>
</div>
<form #accoForm="ngForm"  novalidate>
<app-navbar [childMessage]="parentMessage"></app-navbar>


<div class="container"  *ngIf="!error; else errorBlock">
    
  <div class="row">
    <div class="col-sm-3 " >
      <div class="panel-group "  >
        <div class="panel panel-info " *ngIf="accommodation?.tourName">
          <div class="panel-heading"><strong>Your Itinerary</strong></div>
          <div class="panel-body">

            <p><strong>{{accommodation?.tourName}}</strong></p>
            <strong>Passengers</strong><hr class="itinerary-divider">
            <p><i class="fa fa-user" ></i> Adults {{accommodation?.fAdults}}</p>
            <p><i class="fa fa-child"></i> Children  {{accommodation?.fChildren}}</p>
            <strong>Departure details</strong><hr class="itinerary-divider">
<p><i class="far fa-calendar-check" ></i> Date {{accommodation?.tourDepDate}}</p>
<p *ngIf="accommodation.tourTransport=='AIR'"><i class="fa fa-plane" ></i> From {{accommodation?.depPointName}}</p>
<p *ngIf="accommodation.tourTransport=='RAIL'"><i class="fa fa-train" ></i> From {{accommodation?.depPointName}}</p>
          </div>
        </div><br>
        <div class="panel panel-info " *ngIf="accommodation?.tourTransport=='AIR' && accommodation?.touronly!='Y'">
          <div class="panel-heading"><strong>Flight details</strong> </div>
          <div class="panel-body" *ngFor="let stage of accommodation?.stages">
<p><strong>{{stage.departs}} to {{stage.arrives}}</strong></p><hr class="itinerary-divider">
<p><i class="fa fa-plane" ></i> {{stage.description}}</p>
<p><i class="fa fa-plane-departure"></i> Departure {{stage.date}} {{stage.deptime}}</p>
<p><i class="fa fa-plane-arrival"></i> Arrival {{stage.arrtime}}</p>
          </div>
         
          <div class="panel-footer side-bar">NB: All times are local.
          </div>
        </div>
        <div class="panel panel-info " *ngIf="accommodation?.tourTransport=='RAIL' && accommodation?.touronly!='Y'">
          <div class="panel-heading"><strong>Rail details</strong> </div>
          <div class="panel-body" *ngFor="let stage of accommodation?.stages">
<p><strong>{{stage.departs}} to {{stage.arrives}}</strong></p><hr class="itinerary-divider">

<p><i class="fa fa-train" ></i> Departure {{stage.date}} {{stage.deptime}}</p>
<p><i class="fa fa-train" ></i> Arrival {{stage.arrtime}}</p>
          </div>
         
          <div class="panel-footer side-bar">NB: All times are local.
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="col-sm-9">
     
      <div class="panel-group">
          <legend *ngIf="accommodation?.tourName" class="text-center intro-text"><h3><b>Accommodation choices</b></h3></legend> 
          <!-- <p *ngIf="accommodation?.tourName && (accommodation?.tourTransport=='AIR' || accommodation?.tourTransport=='RAIL')" class="text-center alert alert-warning" >Choose from our range of excellent hotels/cabins, which include options for every budget and taste. </p>  -->
          <div class="panel panel-primary boxshadow " *ngFor="let hotel of accommodation?.hotels">
              <div class="panel-heading"><i *ngIf="hotel.accTypeText=='ship'; else condition3" class="fa fa-ship"></i> <ng-template #condition3><i class="fa fa-hotel"></i></ng-template> {{hotel.name}} - {{hotel.boardBasisDescr}}</div>
            <!-- <div class="panel-heading">Panel Header</div> -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3" ><img class="img-responsive"  src="{{hotel.pic}}">
                    </div>
                    <div class="col-sm-9">
                        <!-- <div class="row">{{hotel.name}}</div>
                        <div class="row">{{hotel.boardBasisDescr}}</div> -->
                        <div class="row"><div class="col-sm-12" >
<h4 *ngIf="hotel.accTypeText=='ship'; else room"><i class="fa fa-bed"></i> Cabin Availability and prices</h4>
<ng-template #room><h4 ><i class="fa fa-bed"></i> Room Availability and prices</h4></ng-template>
</div></div>
                        <div class="row ">
                            <div class="col-sm-6" *ngIf="hotel.accTypeText=='ship'; else roomType"><strong>Cabin type</strong></div>
                            <ng-template #roomType><div class="col-sm-6" ><strong>Room type</strong></div></ng-template>
                            
                            <div class="col-sm-3"><strong>Was Price</strong></div>
                            <div class="col-sm-3"><strong>Price</strong></div>
                   
                    </div>
                    <div class="row top-buffer" *ngFor="let room of hotel?.rooms ; let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }" >
                        <div class="col-sm-6" >{{room.descr}}<span *ngIf="accommodation.tourTransport=='MYOW' && room.unitNumber"> - {{room.unitNumber}}</span></div>
                        <div class="col-sm-3" >{{room.wasPrice| currency:'GBP':true:'0.0-0'}}</div>
                        <div class="col-sm-3" >{{room.rate| currency:'GBP':true:'2.0-0'}}</div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-offset-10" ><button type="button"  class="btn btn-primary">Select</button></div>
                    </div> -->
                    </div>
                  </div>

            </div>
   
            <div class="panel-footer acco"> <button type="button" (click)="selectHotel(accoForm,hotel.code,hotel.tourcode,hotel.name,hotel.accTypeText)"  class="btn btn-primary pull-right">Select</button></div>
          </div>
          
        </div>
  
      
      
  
    </div>
    
  </div>
</div>

<ng-template #errorBlock><div class="container"> <div class="alert alert-danger booking-error">{{error}}</div></div></ng-template>
<div *ngIf="!loading" class="container-fluid">
  
  <div class="panel-group text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">XML output</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
       
      </div>
    </div>
  </div>
</div>
</form>
  