<div class="container">
	<div class="row">
		<section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">
                    
                    <li role="presentation" [ngClass]="{'active': childMessage =='accommodations'}" >
                        <a   data-toggle="tooltip" title="Hotel">
                            <span class="round-tab">
                                <i class="fa fa-hotel"></i>
                            </span>
                        </a>
                        
                    </li>

                    <li role="presentation" [ngClass]="{'active': childMessage =='rooms'}">
                        <a data-toggle="tooltip" title="Room">
                            <span class="round-tab">
                                <i class="fa fa-bed"></i>
                            </span>
                        </a>
                        
                    </li>
                    <li role="presentation" [ngClass]="{'active': childMessage =='extras'}">
                        <a  data-toggle="tooltip" title="Extras">
                            <span class="round-tab">
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" [ngClass]="{'active': childMessage =='personal'}">
                        <a  data-toggle="tooltip" title="Personal Details">
                            <span class="round-tab">
                                <i class="fa fa-user"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" [ngClass]="{'active': childMessage =='confirm'}">
                        <a  data-toggle="tooltip" title="Review & Pay">
                            <span class="round-tab">
                                <i class="fa fa-credit-card custom"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" [ngClass]="{'active': childMessage =='complete'}">
                        <a  data-toggle="tooltip" title="Confirmation">
                            <span class="round-tab">
                                <i class="fa fa-check"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            
        </div>
    </section>
   </div>
</div>