<div class="jumbotron">
  <h2  class="text-center overlay-text">EVENTS & SPORTS</h2> 
  <p  class="text-center overlay-text">Join us to experience the excitement of one of the most prestigious sporting events of the British summer.</p> 
</div>
<div class="container">
  <div class="row text-center">
      <div class="col-sm-12">
          <h2 >THE WORLD'S MOST FAMOUS TENNIS GRAND SLAM</h2>
          <p>Join us to experience the excitement of one of the most prestigious sporting events of the British summer. On this great-value break, you'll enjoy all the action on court, the taste of strawberries and cream (and even a glass of champagne or Pimms), and the energy of the crowds gathered on the slopes of Henman Hill.

            For departures over Finals' weekend, this break includes a seat on the wonderful 11,000-seater No.1 Court. See the stars of tomorrow and yesteryear competing in the Junior and Veterans' events on the Sunday (when the Men’s Final takes place on Centre Court) No.1 Court's new retractable roof means you're guaranteed a great day of tennis whatever the weather.</p>
  </div>
</div>
<div *ngFor="let group of genres"> 
     
  <div class="panel panel-primary">
    <div class="panel-heading">{{ group?.genrename }}</div>
  </div>
  <div class="panel-body">
  <div class="row well">
<div  *ngFor="let item of group?.products">
   
    <div class="col-sm-4"*ngIf="showProductImage==true;else listBlock">
      <div class="imagebox thumbnail">
          <!-- <div *ngIf="item?.availDates == 0" class="corner-ribbon top-left sticky red shadow">Not available</div> -->
        
          <a  [routerLink]="['/tour' ]"   [queryParams]="{uid: item?.dlc}">
          <img *ngIf="item.availDates != 0;else notavailable" data-src="{{item.image}}"  class="lazy category-banner img-responsive">
          <ng-template #notavailable> <img  src="https://cdn.assets.newmarketholidays.co.uk/WS_Images/txtImages/photo-not-available.jpg"  class="lazy"></ng-template>
          <span class="imagebox-desc">{{item?.productname}}</span>
        </a>
      </div>
    </div>
    <ng-template #listBlock>
          
        <div class="col-sm-11 col-sm-offset-1 " >
        <a   [routerLink]="['/tour' ]"   [queryParams]="{uid: item?.dlc}" >
      <span *ngIf="item.availDates != 0;else unavailable"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;{{item.productname}}</span>
      <ng-template #unavailable><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;{{item.productname}}&nbsp;<span class="badge">Not available</span> </ng-template>
    </a>
  </div>

    </ng-template> 
</div>
</div>
</div>
</div>
</div>

<div *ngIf="!loading" class="container-fluid">
  
  <div class="panel-group text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">XML Response</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
       
      </div>
    </div>
  </div>
</div>