.jumbotron {
    width:100%;
    height:450px;
    background: url('https://cdn.assets.newmarketholidays.co.uk//WS_Images/holidays/1000x440/2000x1200-wimbledon-314597-EDIT.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
  .overlay-text{
   color: white;  
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
  }
  
.thumbnail img{
  height: 250px;
}

.badge
{
  background-color:#FF3D61;
  border:none;
}
.panel
{
  margin-bottom: 0;
}
.well
{
  border:none;
}