.jumbotron {
    width:100%;
    height:450px;
    background: url('https://cdn.assets.newmarketholidays.co.uk/WS_Images/Pages/HomePage/1920x300-Home-River-GettyImages-607706808.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
  }
  .overlay-text{
   color: white;  
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
  }
  
.thumbnail img{
  height: 250px;
}

.badge
{
  background-color:#FF3D61;
  border:none;
}
.panel
{
  margin-bottom: 0;
}
.well
{
  border:none;
}