<!-- <div *ngIf="loading" class="loading-modal">
    <div class="loading-modal__block">
        <i class="fas fa-spinner loading-modal__icon"></i>
        <p>Please wait...</p>
    </div>
  </div> -->
<div class="jumbotron">
  <h2  class="text-center overlay-text">CRUISES DEPARTING FROM UK PORTS</h2> 
  <p  class="text-center overlay-text">Step aboard a fleet of traditional, British-operated vessels in a wide choice of ports, and sail in comfort and style to a host of fascinating places, at hard-to-believe prices.</p> 
</div>
<div class="container">
   
    <div class="row text-center">
        <div class="col-sm-12">
            <h2 >OCEAN CRUISES</h2>
            <p>See the world and discover a collection of beautiful coastal destinations on an ocean cruise with Newmarket Holidays. Set sail on a voyage across the Atlantic to the Caribbean, cruise into the Baltic or embark upon a round-the-world odyssey.
                Whether a four-night mini-cruise or a six-week voyage of discovery – our unforgettable cruises combine fascinating days with exciting nights in a variety of captivating destinations.
                
                Set off on journeys north to the British Isles, the Norwegian Fjords or the Baltic Cities, or south to the Isles of Scilly and along the coasts of France, Portugal and Spain. If you’re after a longer voyage, sail away into the heart of the vibrant, colourful Amazonian rain forest ands the balmy, sun-kissed Caribbean isles.
                
                Enjoy each day as it comes. There’ll be a new adventure to discover, a new experience to enjoy, a new vista to savour, new plans to be made as each day dawns.
                
                Wherever you find yourself, our ocean cruises offer a memorable holiday.</p>
    </div>
  </div>
  <div *ngIf="!loading">
    <div *ngFor="let group of genres"> 
       
        <div class="panel panel-primary">
          <div class="panel-heading">{{ group?.genrename }}</div>
        </div>
        <div class="panel-body">
        <div class="row well">
      <div  *ngFor="let item of group?.products">
         
          <div class="col-sm-4"  *ngIf="showProductImage==true;else listBlock">
            <div class="imagebox thumbnail ">
                <!-- <div *ngIf="item?.availDates == 0" class="corner-ribbon top-left sticky red shadow">Not available</div> -->
                <a  [routerLink]="['/tour' ]"   [queryParams]="{uid: item?.dlc}">
                <img *ngIf="item.availDates != 0;else notavailable" data-src="{{item.image}}" class="lazy category-banner img-responsive">
                <ng-template #notavailable> <img  src="https://cdn.assets.newmarketholidays.co.uk/WS_Images/txtImages/photo-not-available.jpg" class="lazy"></ng-template>
                <span class="imagebox-desc">{{item?.productname}}</span>
              </a>
            </div>
          </div>
          <ng-template #listBlock>
          
              <div class="col-sm-11 col-sm-offset-1 " >
              <a   [routerLink]="['/tour' ]"   [queryParams]="{uid: item?.dlc}" >
            <span *ngIf="item.availDates != 0;else unavailable"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;{{item.productname}}</span>
            <ng-template #unavailable><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;{{item.productname}}&nbsp;<span class="badge">Not available</span> </ng-template>
          </a>
        </div>
     
          </ng-template>
      </div>
  </div>
</div>
</div>
</div>
</div>

<div *ngIf="!loading" class="container-fluid">
  
  <div class="panel-group text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">XML Response</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
       
      </div>
    </div>
  </div>
</div>

