.jumbotron {
    width:100%;
    height:450px;
    background: url('https://cdn.assets.newmarketholidays.co.uk/WS_Images/Pages/Product-Top-Level/1920x575-GettyImages-95788972_EDIT.jpg');
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .overlay-text{
   color: white;  
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); 
  }
 
  


.thumbnail img{
  height: 250px;
}
.badge
{
  background-color:#FF3D61;
  border:none;
}
.panel
{
  margin-bottom: 0;
}
.well
{
  border:none;
}
