.panel-group,.top-padding
{
    padding-top:20px;
}


.itinerary-divider
{
  margin-top:2px;
  margin-bottom: 2px;
}

fieldset.scheduler-border {
  background-color: #f8f8f8;
  /* border-radius:5px;
  border: 1px double  #f8f8f8 !important; */
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
 
}

  legend.scheduler-border {
      /* font-size: 1.1em !important;
      font-weight: bold !important;
      text-align: left !important;
      width:auto;
      padding:0 10px;
      background-color: #f8f8f8;
      border:1px solid ;
      border-radius: 5px; */
  }

  .well
  {
    border:none;
    
  }
  legend
  {
    color:#337ab7;
  }
  select.form-control
  {
       width:auto !important;
  }
  .form-group.required .control-label::after {
    content:"*";
    color:#FF3D61;
    font-family: 'FontAwesome';
    
  
  }
.form-check label input{
  margin-right:5px;
}

.label.arrowed, .label.arrowed-in {
  position: relative;
  
}
.label {
  
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
 
}
.label-important, .badge-important {
  background-color: #FF3D61!important;
 
}
.btn-primary
{
  width:100%;
}