<app-navbar [childMessage]="parentMessage"></app-navbar>

<div class="container" *ngIf="!error; else errorBlock">
    <div class="row" *ngIf="personal?.tourName">
        <div class="col-sm-3 ">
            <div class="panel-group " >
                <div class="panel panel-info " *ngIf="personal?.tourName">
                    <div class="panel-heading"><strong>Your Itinerary</strong></div>
                    <div class="panel-body">

                        <p><strong>{{personal?.tourName}}</strong></p>
                        <strong>Passengers</strong>
                        <hr class="itinerary-divider">
                        <p><i class="fa fa-user"></i> Adults {{personal?.fAdults}}</p>
                        <p><i class="fa fa-child"></i> Children {{personal?.fChildren}}</p>
                        <strong>Departure details</strong>
                        <hr class="itinerary-divider">
                        <p><i class="far fa-calendar-check"></i> Date {{personal?.tourDepDate}}</p>
                        <p *ngIf="bookingParams.tourTransport=='AIR'"><i class="fa fa-plane"></i> From
                            {{personal?.depPointName}}</p>
                        <p *ngIf="bookingParams.tourTransport=='RAIL'"><i class="fa fa-train"></i> From
                            {{personal?.depPointName}}</p>
                    </div>
                </div><br>
                <div class="panel panel-info " *ngIf="personal?.tourName">
                    <div class="panel-heading"><strong>Accommodation details</strong></div>
                    <div class="panel-body">


                        <p *ngIf="personal.accType=='ship'; else condition2"><i class="fa fa-ship"></i>
                            {{personal?.hotelName}}</p>
                        <ng-template #condition2>
                            <p><i class="fa fa-hotel"></i> {{personal?.hotelName}}</p>
                        </ng-template>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-9">
            <legend *ngIf="personal?.tourName"><h3 class="text-center intro-text"><b>Passenger details</b></h3></legend>
            <div class="alert alert-warning">
                <ul><strong>Please note</strong><li>{{personal?.paxNote}}</li><li>Fields marked * are compulsory.</li></ul>
                <!-- <strong>Note: </strong> {{personal?.paxNote}}<br>
                Please note fields marked * are compulsory. -->
            </div>
            <form name="form" #f="ngForm" (ngSubmit)="submitPersonal(f)" novalidate>
                <fieldset  *ngFor="let item of personal?.paxDetails?.passengers;let i = index">
                    <legend class="scheduler-border" ><i class="fa fa-user"></i>&nbsp;{{i==0?'Lead Passenger' :item.paxType== 'C' ? 'Passenger ' + (i+ 1)  +  ' - Child' :  'Passenger ' + (i+ 1)}}</legend>
                    <div class="well">

                    <div class='row'>
                        <div class='col-sm-4'>
                            <div class='form-group required'>
                                <label  class="control-label">Title</label>
                                <select class="form-control" name="title_{{i+1}}" required #title="ngModel" ngModel
                                    [ngClass]="{ 'is-invalid': f.submitted && title.invalid }">

                                    <option value="" selected disabled hidden>--Select--</option>
                                    <option *ngFor="let item of personal?.paxDetails?.paxTitles">{{item}}</option>
                                </select>
                                <span 
                                    [hidden]="title.valid|| (title.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <div class="form-group required">
                                <label  class="control-label">First name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-user"></i>
                                       
                                    </span>	
                                    <input class="form-control " placeholder="First name" name="initials_{{i+1}}" required type="text"
                                    #initials="ngModel" ngModel
                                    [ngClass]="{ 'is-invalid': f.submitted && initials.invalid }" />
                                    </div>
                                

                                <span 
                                    [hidden]="initials.valid|| (initials.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <div class='form-group required'>
                                <label class="control-label">Last name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-user"></i>
                                       
                                    </span>	
                                    <input class="form-control" placeholder="Last name" name="surname_{{i+1}}" required #surname="ngModel" ngModel
                                    [ngClass]="{ 'is-invalid': f.submitted && surname.invalid }" />
                                    </div>
                               
                                <span 
                                    [hidden]="surname.valid|| (surname.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='form-group required'>

                                <label class="control-label">Which room will this person be staying in</label>
                                <select class="form-control" name="room_{{i+1}}" required #room="ngModel" ngModel
                                    [ngClass]="{ 'is-invalid': f.submitted && room.invalid }">
                                    <option value="" selected disabled hidden>--Select--</option>
                                    <option *ngFor="let room of item.rooms" [ngValue]="room">{{room.roomSelection}}</option>
                                </select>
                                <span 
                                    [hidden]="room.valid|| (room.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label class="control-label">Date of birth</label>
                                <!-- <div class="input-group date datepicker" onclick="openCalendar(this)"
                                    data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control "  name="dob_{{i+1}}" 
                                        #dob="ngModel" ngModel >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div> -->
                                <my-date-picker name="dob_{{i+1}}"  #dob="ngModel"  [options]="myDatePickerOptions"
                                ngModel ></my-date-picker>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label class="control-label">Gender</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-genderless"></i>
                                       
                                    </span>	
                                    <select class="form-control" name="gender_{{i+1}}"  #gender="ngModel" ngModel>
                                    <option value="" selected disabled hidden>--Select--</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                                    </div>
                               
                                <!-- <span 
                                    [hidden]="gender.valid|| (gender.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span> -->
                            </div>
                        </div>

                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <p><strong>Newmarket Insurance options</strong></p>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group required'>
                                <label class="control-label">Travel Insurance</label>
                                <select class="form-control" name="InsSel_1_{{i+1}}"  #InsSel_1="ngModel"
                                    ngModel >
                                    <!-- <option value="" selected disabled hidden>--Select--</option> -->
                                    <option value="">I am arranging my own insurance</option>
                                </select>
                                <!-- <span 
                                    [hidden]="InsSel_1.valid|| (InsSel_1.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span> -->
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label class="control-label">Excess Waiver</label>
                                <select class="form-control" name="InsSel_2_{{i+1}}" #InsSel_2="ngModel" ngModel>
                                    <option value="">I am arranging my own insurance</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <p><strong>If you have your own travel insurance, enter the details below</strong></p>
                        </div>
                        <div class='col-sm-4'>
                            <div class='form-group'>
                                <label class="control-label">Provider</label>
                                <input class="form-control" placeholder="Provider" name="policy_{{i+1}}"  #policy="ngModel" ngModel type="text" />
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <div class='form-group'>
                                <label class="control-label">Policy Ref</label>
                                <input class="form-control" placeholder="Policy Ref" name="polnumber_{{i+1}}" #polnumber="ngModel" ngModel type="text" />
                            </div>
                        </div>
                        <div class='col-sm-4'>
                            <div class='form-group'>
                                
                                 
                                <label class="control-label">Contact Tel</label>
                                <div class="input-group">
                                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true">
                                        </span>
                                        </span>	
                                        <input class="form-control" placeholder="Contact Tel" name="polphone_{{i+1}}" #polphone="ngModel" ngModel type="number" />
                                        </div>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                    
                    <div class='row'>
                        <div class='col-sm-4' *ngFor="let extra of item.extras">
                            <div class='form-group required'>

                                <label class="control-label">{{extra.group}}</label>
                                <select class="form-control" name="PAXExtrasSel_{{i+1}}_1" required #PAXExtrasSel="ngModel" ngModel
                                    [ngClass]="{ 'is-invalid': f.submitted && PAXExtrasSel.invalid }">
                                    <option value="" selected disabled hidden>--Select--</option>
                                    <option *ngFor="let option of extra.options" value="{{option.responseId}}">{{option.text}}</option>
                                </select>
                                <span 
                                    [hidden]="PAXExtrasSel.valid|| (PAXExtrasSel.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
              
                    </div>
                </div>
                </fieldset>


                <fieldset >
                    <legend class="scheduler-border"><i class="fa fa-address-book"></i>&nbsp;Lead Passenger Contact Details</legend>
                    <div class="well">
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group required'>
                                <label class="control-label">Address line 1</label>
                                <input class="form-control" placeholder="Address line 1" name="CCardAddress1" 
                                    #CCardAddress1="ngModel" ngModel
                                    [ngClass]="{ 'is-invalid': f.submitted && CCardAddress1.invalid }" required />
                                <span 
                                    [hidden]="CCardAddress1.valid|| (CCardAddress1.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group'>
                                <label class="control-label">Address line 2</label>
                                <input class="form-control" placeholder="Address line 2"  name="CCardAddress2" #CCardAddress2="ngModel" ngModel
                                     type="text" />
                            </div>
                        </div>
                       
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group required'>
                                <label class="control-label">Town</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-city"></i>
                                    </span>
                                <input class="form-control" name="CCardCity" placeholder="Town" #CCardCity="ngModel" ngModel required type="text"
                                    [ngClass]="{ 'is-invalid': f.submitted && CCardCity.invalid }" />
                                </div>
                                <span 
                                    [hidden]="CCardCity.valid|| (CCardCity.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class='row'>
                        <div class='col-sm-12'>
                            <div class='form-group required'>
                                <label class="control-label">Country</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-flag"></i>
                                    </span>
                                    
                                <select class="form-control" name="CCardCountry" #CCardCountry="ngModel" ngModel="GBR">

                                    <option value="ALB">Albania</option>
                                    <option value="DZA">Algeria</option>
                                    <option value="ASM">American Samoa</option>
                                    <option value="AND">Andorra</option>
                                    <option value="AGO">Angola</option>
                                    <option value="AIA">Anguilla</option>
                                    <option value="ATG">Antigua and Barbuda</option>
                                    <!--<option value="AN">Antilles</option>-->
                                    <option value="ARG">Argentina</option>
                                    <option value="ARM">Armenia</option>
                                    <option value="ABW">Aruba</option>
                                    <option value="AUS">Australia</option>
                                    <option value="AUT">Austria</option>
                                    <option value="AZE">Azerbaijan</option>
                                    <option value="BHS">Bahamas</option>
                                    <option value="BHR">Bahrain</option>
                                    <option value="BGD">Bangladesh</option>
                                    <option value="BRB">Barbados</option>
                                    <option value="BEL">Belgium</option>
                                    <option value="BLZ">Belize</option>
                                    <option value="BEN">Benin Peoples Rep</option>
                                    <option value="BMU">Bermuda</option>
                                    <option value="BOL">Bolivia</option>
                                    <option value="BIH">Bosnia and Herzegovina</option>
                                    <option value="BWA">Botswana</option>
                                    <option value="BRA">Brazil</option>
                                    <option value="VGB">British Virgin Is</option>
                                    <option value="BRN">Brunei</option>
                                    <option value="BGR">Bulgaria</option>
                                    <!--<option value="BF">Burkina Faso</option>-->
                                    <option value="BDI">Burundi</option>
                                    <option value="KHM">Cambodia</option>
                                    <option value="CAN">Canada</option>
                                    <option value="CYM">Cayman Islands</option>
                                    <option value="CAF">Central African Rep</option>
                                    <option value="TCD">Chad</option>
                                    <option value="CHL">Chile</option>
                                    <option value="CHN">China</option>
                                    <option value="COL">Colombia</option>
                                    <option value="COG">Congo</option>
                                    <option value="COK">Cook Islands</option>
                                    <option value="CRI">Costa Rica</option>
                                    <option value="CRO">Croatia</option>
                                    <option value="CUB">Cuba</option>
                                    <option value="CYP">Cyprus</option>
                                    <option value="CZE">Czech Republic</option>
                                    <option value="DNK">Denmark</option>
                                    <option value="DJI">Djibouti</option>
                                    <option value="DMA">Dominica</option>
                                    <option value="DOM">Dominican Rep</option>
                                    <option value="ECU">Ecuador</option>
                                    <option value="EGY">Egypt</option>
                                    <option value="SLV">El Salvador</option>
                                    <option value="GNQ">Equatorial Guinea</option>
                                    <!--<option value="ER">Eritrea</option>-->
                                    <option value="EST">Estonia</option>
                                    <option value="ETH">Ethiopia</option>
                                    <option value="FRO">Faeroe Islands</option>
                                    <option value="FLK">Falkland Islands</option>
                                    <option value="FJI">Fiji</option>
                                    <option value="FIN">Finland</option>
                                    <option value="FRA">France</option>
                                    <option value="GUF">French Guyana</option>
                                    <option value="PYF">French Polynesia</option>
                                    <option value="GAB">Gabon</option>
                                    <option value="GMB">Gambia</option>
                                    <option value="GEO">Georgia</option>
                                    <option value="DEU">Germany</option>
                                    <option value="GHA">Ghana</option>
                                    <option value="GIB">Gibraltar</option>
                                    <option value="GRC">Greece</option>
                                    <option value="GRL">Greenland</option>
                                    <option value="GRD">Grenada</option>
                                    <option value="GLP">Guadeloupe</option>
                                    <option value="GTM">Guatemala</option>
                                    <option value="GIN">Guinea</option>
                                    <option value="GNB">Guinea Bissau</option>
                                    <option value="GUY">Guyana</option>
                                    <option value="HTI">Haiti</option>
                                    <option value="HND">Honduras</option>
                                    <option value="HKG">Hong Kong</option>
                                    <option value="HUN">Hungary</option>
                                    <option value="ISL">Iceland</option>
                                    <option value="IND">India</option>
                                    <option value="IDN">Indonesia</option>
                                    <option value="IRQ">Iraq</option>
                                    <option value="IRN">Iran</option>
                                    <option value="IRL">Ireland</option>
                                    <option value="ISR">Israel</option>
                                    <option value="ITA">Italy</option>
                                    <!--<option value="CI">Ivory Coast</option>-->
                                    <option value="JAM">Jamaica</option>
                                    <option value="JPN">Japan</option>
                                    <option value="JOR">Jordan</option>
                                    <option value="KAZ">Kazakhstan</option>
                                    <option value="KEN">Kenya</option>
                                    <option value="KIR">Kiribati</option>
                                    <option value="KWT">Kuwait</option>
                                    <option value="KGZ">Kyrgyzstan</option>
                                    <option value="LAO">Laos</option>
                                    <option value="LVA">Latvia</option>
                                    <option value="LBN">Lebanon</option>
                                    <option value="LSO">Lesotho</option>
                                    <option value="LBR">Liberia</option>
                                    <option value="LBY">Libya</option>
                                    <!--<option value="LI">Liechtenstein</option>-->
                                    <option value="LTU">Lithuania</option>
                                    <option value="LUX">Luxembourg</option>
                                    <option value="MAC">Macau</option>
                                    <option value="MKD">Macedonia</option>
                                    <option value="MDG">Madagascar</option>
                                    <option value="MWI">Malawi</option>
                                    <option value="MYS">Malaysia</option>
                                    <option value="MDV">Maldives</option>
                                    <option value="MLI">Mali</option>
                                    <option value="MTT">Malta</option>
                                    <!--<option value="MP">Mariana Islands</option>-->
                                    <option value="MHL">Marshall Islands</option>
                                    <option value="MTQ">Martinique</option>
                                    <option value="MRT">Mauritania</option>
                                    <option value="MUS">Mauritius</option>
                                    <option value="MEX">Mexico</option>
                                    <!--<option value="UM">Minor Island</option>-->
                                    <option value="MDA">Moldova</option>
                                    <option value="MCO">Monaco</option>
                                    <option value="MSR">Montserrat</option>
                                    <option value="MAR">Morocco</option>
                                    <option value="MOZ">Mozambique</option>
                                    <option value="MMR">Myanmar</option>
                                    <option value="NAM">Namibia</option>
                                    <option value="NRU">Nauru</option>
                                    <option value="NPL">Nepal</option>
                                    <option value="NLD">Netherlands</option>
                                    <option value="NCL">New Caledonia</option>
                                    <option value="NZL">New Zealand</option>
                                    <option value="NIC">Nicaragua</option>
                                    <option value="NER">Niger</option>
                                    <option value="NGA">Nigeria</option>
                                    <option value="NOR">Norway</option>
                                    <option value="OMN">Oman</option>
                                    <option value="PAK">Pakistan</option>
                                    <option value="PAN">Panama</option>
                                    <option value="PNG">Papua New Guinea</option>
                                    <option value="PRY">Paraguay</option>
                                    <option value="PRK">Peoples Rep Korea</option>
                                    <option value="PER">Peru</option>
                                    <option value="PHL">Philippines</option>
                                    <option value="POL">Poland</option>
                                    <option value="PRT">Portugal</option>
                                    <option value="PRI">Puerto Rico</option>
                                    <option value="QAT">Qatar</option>
                                    <option value="CMR">Republic Cameroon</option>
                                    <!--<option value="RE">Reunion</option>-->
                                    <option value="ROU">Romania</option>
                                    <option value="RUS">Russia</option>
                                    <option value="RWA">Rwanda</option>
                                    <option value="SAU">Saudi Arabia</option>
                                    <option value="SEN">Senegal</option>
                                    <option value="SER">Serbia &amp; Montenegro</option>
                                    <option value="SYC">Seychelles</option>
                                    <option value="SLE">Sierra Leone</option>
                                    <option value="SGP">Singapore</option>
                                    <option value="SVK">Slovakia</option>
                                    <option value="SVN">Slovenia</option>
                                    <option value="SLB">Solomon Islands</option>
                                    <option value="SOM">Somalia</option>
                                    <option value="ZAF">South Africa</option>
                                    <option value="KOR">South Korea</option>
                                    <option value="ESP">Spain</option>
                                    <option value="LKA">Sri Lanka</option>
                                    <option value="KNA">St Kitts Nevis</option>
                                    <option value="LCA">St Lucia</option>
                                    <option value="VCT">St Vincent</option>
                                    <option value="SDN">Sudan</option>
                                    <option value="SUR">Suriname</option>
                                    <option value="SWZ">Swaziland</option>
                                    <option value="SWE">Sweden</option>
                                    <option value="CHE">Switzerland</option>
                                    <option value="SYR">Syria</option>
                                    <option value="TWN">Taiwan</option>
                                    <option value="TJK">Tajikistan</option>
                                    <option value="TZA">Tanzania</option>
                                    <option value="THA">Thailand</option>
                                    <option value="TGO">Togo</option>
                                    <option value="TON">Tonga</option>
                                    <option value="TTO">Trinidad &amp; Tobago</option>
                                    <option value="TUN">Tunisia</option>
                                    <option value="TUR">Turkey</option>
                                    <option value="TKM">Turkmenistan</option>
                                    <option value="TCA">Turks &amp; Caicos</option>
                                    <option value="TUV">Tuvalu</option>
                                    <option value="UGA">Uganda</option>
                                    <option value="UKR">Ukraine</option>
                                    <option value="ARE">United Arab Emirates</option>
                                    <option selected value="GBR">United Kingdom</option>
                                    <option value="URY">Uruguay</option>
                                    <option value="USA">United States of America</option>
                                    <option value="UZB">Uzbekistan</option>
                                    <option value="VUT">Vanuatu</option>
                                    <option value="VEN">Venezuela</option>
                                    <option value="VNM">Vietnam</option>
                                    <option value="YEM">Yemen</option>
                                    <option value="ZMB">Zambia</option>
                                    <option value="ZWE">Zimbabwe</option>
                                </select>
                            </div>
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group required'>
                                <label class="control-label">Postcode</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
                                    </span>	
                                    <input class="form-control" placeholder="Postcode" name="CCardPostCode" required type="text" #CCardPostCode="ngModel"
                                    ngModel [ngClass]="{ 'is-invalid': f.submitted && CCardPostCode.invalid }" />
                                    </div>
                                
                                <span 
                                    [hidden]="CCardPostCode.valid|| (CCardPostCode.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='form-group required'>
                                <label class="control-label">Tel (main)</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                                    </span>	
                                    <input class="form-control" name="MainTelWork" placeholder="Tel (main)" required type="tel" #MainTelWork="ngModel"
                                    ngModel [ngClass]="{ 'is-invalid': f.submitted && MainTelWork.invalid }" />
                                    </div>
                             
                                <span 
                                    [hidden]="MainTelWork.valid|| (MainTelWork.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group required'>
                                <label class="control-label">Mobile</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-mobile-alt" aria-hidden="true"></i>
                                       
                                    </span>	
                                    <input class="form-control" name="MainTelHome" placeholder="Mobile" required type="tel" #MainTelHome="ngModel" ngModel
                                    [ngClass]="{ 'is-invalid': f.submitted && MainTelHome.invalid }" />
                                    </div>
                              
                                <span 
                                    [hidden]="MainTelHome.valid|| (MainTelHome.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                            </div>
                        </div>
                       
                       
                    </div>
                    <div class='row'>
                            <div ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
                        <div class='col-sm-6'>
                            <div class='form-group required'>
                                <label class="control-label">E-mail</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-envelope"></i>
                                        
                                       
                                    </span>	
                                    <input class="form-control"   name="MainEmail" placeholder="E-mail" required [email]="email !== ''" type="email" #MainEmail="ngModel"
                                    ngModel [ngClass]="{ 'is-invalid': f.submitted && MainEmail.invalid }" />
                                    </div>
                                
                                <span 
                                    [hidden]="!MainEmail.errors?.required|| (MainEmail.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                                <span 
                                    [hidden]="!MainEmail.errors?.email|| (MainEmail.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">Invalid E-mail</span></span>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <div class='form-group required'>
                                <label class="control-label">Re-enter E-mail for confirmation</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-envelope"></i>
                                       
                                    </span>	
                                    <input class="form-control" placeholder="Re-enter E-mail for confirmation" name="MainEmailChq" required type="email"
                                    #MainEmailChq="ngModel" ngModel
                                    [ngClass]="{ 'is-invalid': f.submitted && MainEmailChq.invalid }" />
                                    </div>
                                
                                <span 
                                    [hidden]="MainEmailChq.valid|| (MainEmailChq.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                                    <span  *ngIf="passwords.errors?.passwordCheck && (MainEmailChq.dirty || MainEmailChq.touched)" >
                                            <span class="label label-important arrowed-in text-error">E-mail addresses do not match</span>  
                                        </span>
                            </div>
                        </div>
                    </div>
                       
                    </div>

                   
                    <div class='row'>
                            <div class='col-sm-12'>
                                   
                                    <hr style="border:1px solid ">
                                    <strong>Please tick below if you are interested in receiving information and offers from
                                            Newmarket Holidays:</strong>
                                    <div class="form-group">
                                         
                                                <div class="checkbox" *ngFor="let item of personal?.marketingPreferences;let j=index">
                                                    <!-- <label>
                                                        <input type="checkbox" name="MarketingPrefs_{{j}}" #MarketingPrefs="ngModel" ngModel value="{{item.id}}"   /> {{item.value}}
                                                    </label> -->
                                                    <label>
                                                        <input type="checkbox" name="MarketingPrefs_{{j}}" value="{{item.id}}" (change)="onCheckboxChange(item,$event,j)"   /> {{item.value}}
                                                    </label>
                                                </div>
                                                
                                            
                                        </div>
                                </div>
                        </div>

                    </div>

                </fieldset>
                <div class='row'>
                    <div class='col-sm-4'>
                        <div class='form-group'>
                            <label for="user_title">Enter Promotional Code (if any)</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                   
                                    <i class="fa fa-tag fa-lg"></i> 
                                </span>	
                                <input class="form-control" name="PromoSel" placeholder="Promotional Code" type="text" #PromoSel="ngModel" ngModel />

                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-12'>

                        <button class="btn btn-primary btn-lg" >Continue&nbsp;<i class="fa fa-angle-double-right"></i></button>


                    </div>
                </div>

            </form>
            <hr>
            <p style="font-style: italic;margin-top: 5px;">* Newmarket Holidays Ltd is an appointed representative of
                Bluefin Insurance Services Ltd, which is authorised & regulated by the Financial Services Authority.</p>
        </div>




    </div>
</div>
<ng-template #errorBlock>
    <div class="container">
        <div class="alert alert-danger booking-error">{{error}}</div>
    </div>
</ng-template>

<div *ngIf="!loading" class="container-fluid">
  
    <div class="panel-group text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">XML output</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
         
        </div>
      </div>
    </div>
  </div>