<div class="jumbotron">
  <h2  class="text-center overlay-text">SPECIAL EVENTS</h2> 
  <p  class="text-center overlay-text">Sway with the music, hum along and even dance in the aisles to what is going to be an unforgettable experience</p> 
</div>
<div class="container">
  <div class="row text-center">
      <div class="col-sm-12">
          <h2 >THE WALTZ KING LIVE</h2>
          <p>Don't miss an extraordinary night of musical entertainment in the magnificent setting of Maastricht's Vrijthof Square. At this very special summer 2019 concert, you'll see André Rieu perform live in his hometown with his Johann Strauss Orchestra.</p>
  </div>
</div>
<div *ngFor="let group of genres"> 
     
  <div class="panel panel-primary">
    <div class="panel-heading">{{ group?.genrename }}</div>
  </div>
  <div class="panel-body">
  <div class="row well">
<div  *ngFor="let item of group?.products">
   
    <div class="col-sm-4" *ngIf="showProductImage==true;else listBlock">
      <div class="imagebox thumbnail">
          <!-- <div *ngIf="item?.availDates == 0" class="corner-ribbon top-left sticky red shadow">Not available</div> -->
        
          <a  [routerLink]="['/tour' ]"   [queryParams]="{uid: item?.dlc}">
          <img *ngIf="item.availDates != 0;else notavailable" data-src="{{item.image}}"  class="lazy category-banner img-responsive">
          <ng-template #notavailable> <img  src="https://cdn.assets.newmarketholidays.co.uk/WS_Images/txtImages/photo-not-available.jpg"  class="lazy"></ng-template>
          <span class="imagebox-desc">{{item?.productname}}</span>
        </a>
      </div>
    </div>
    <ng-template #listBlock>
          
        <div class="col-sm-11 col-sm-offset-1 " >
        <a   [routerLink]="['/tour' ]"   [queryParams]="{uid: item?.dlc}" >
      <span *ngIf="item.availDates != 0;else unavailable"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;{{item.productname}}</span>
      <ng-template #unavailable><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;{{item.productname}}&nbsp;<span class="badge">Not available</span> </ng-template>
    </a>
  </div>

    </ng-template>
</div>
</div>
</div>
</div>
</div>

<div *ngIf="!loading" class="container-fluid">
  
  <div class="panel-group text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">XML Response</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
       
      </div>
    </div>
  </div>
</div>