
<div class="jumbotron">
  <h2  class="text-center overlay-text">ESCORTED TOURS & RESORT-BASED STAYS</h2> 
  <p  class="text-center overlay-text">Experience the natural glories, iconic sights, ancient treasures and modern wonders of some of the world’s most enthralling and extraordinary places.</p> 
</div>
<div class="container">
   
  <div class="row text-center">
      <div class="col-sm-12">
          <h2 >AWARD-WINNING FULLY ESCORTED HOLIDAYS</h2>
          <p>Newmarket offers you the opportunity to fly to a vast range of destinations, often from your local airport. Whether you're looking for short breaks in exciting cities, visits to must-see sights at home or abroad, longer holidays including flights by chartered aircraft from regional airports, transatlantic odysseys or escorted tours to fascinating far-flung destinations - you'll find a world of choice just a click away.</p>
  </div>
</div>

<!-- <div *ngIf="loading; else condition1" class="loading-modal">
  <div class="loading-modal__block">
      <i class="fa fa-spinner loading-modal__icon"></i>
      <p>Please wait...</p>
  </div>
</div>
<ng-template #condition1> -->
    
  <div *ngIf="!loading">
    
  <div *ngFor="let group of genres"> 
     
      <div class="panel panel-primary">
        <div class="panel-heading">{{ group.genrename }}</div>
      </div>
      <div class="panel-body ">
      <div class="row well">
    <div  *ngFor="let item of group.products">
       
        <div class="col-sm-4" *ngIf="showProductImage==true;else listBlock">
          <div  class="imagebox thumbnail ">
              <!-- <div *ngIf="item.availDates == 0" class="corner-ribbon top-left sticky red shadow">Not available</div> -->
             <a   [routerLink]="['/tour' ]"   [queryParams]="{uid: item?.dlc}" >
             
              <img *ngIf="item.availDates != 0;else notavailable" data-src="{{item.image}}"  class="lazy">
              <ng-template #notavailable> <img  src="https://cdn.assets.newmarketholidays.co.uk/WS_Images/txtImages/photo-not-available.jpg"  class="lazy"></ng-template>
              <span class="imagebox-desc">{{item.productname}}</span>
            </a>
          </div>
       
        </div>
       
        <ng-template #listBlock>
          
            <div class="col-sm-11 col-sm-offset-1 " >
            <a   [routerLink]="['/tour' ]"   [queryParams]="{uid: item?.dlc}" >
          <span *ngIf="item.availDates != 0;else unavailable"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;{{item.productname}}</span>
          <ng-template #unavailable><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;{{item.productname}}&nbsp;<span class="badge">Not available</span> </ng-template>
        </a>
      </div>
   
        </ng-template>
     
    </div>
</div>
</div>
</div>
</div>
<!-- </ng-template> -->
</div>


<div *ngIf="!loading" class="container-fluid">
  
  <div class="panel-group text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">XML Response</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
       
      </div>
    </div>
  </div>
</div>

