<app-navbar [childMessage]="parentMessage"></app-navbar>

<div class="container" *ngIf="!error; else errorBlock">
  <div class="row" *ngIf="confirm?.tourName">
    <div class="col-sm-3 ">
      <div class="panel-group ">
        <div class="panel panel-info " *ngIf="confirm?.tourName">
          <div class="panel-heading"><strong>Your Itinerary</strong></div>
          <div class="panel-body">

            <p><strong>{{confirm?.tourName}}</strong></p>
            <strong>Passengers</strong>
            <hr class="itinerary-divider">
            <p><i class="fa fa-user"></i> Adults {{confirm?.fAdults}}</p>
            <p><i class="fa fa-child"></i> Children {{confirm?.fChildren}}</p>
            <strong>Departure details</strong>
            <hr class="itinerary-divider">
            <p><i class="far fa-calendar-check"></i> Date {{confirm?.tourDepDate}}</p>
            <p *ngIf="bookingParams.tourTransport=='AIR'"><i class="fa fa-plane"></i> From
              {{confirm?.depPointName}}</p>
            <p *ngIf="bookingParams.tourTransport=='RAIL'"><i class="fa fa-train"></i> From
              {{confirm?.depPointName}}</p>
          </div>
        </div><br>
        <div class="panel panel-info " *ngIf="confirm?.tourName">
          <div class="panel-heading"><strong>Accommodation details</strong></div>
          <div class="panel-body">


            <p *ngIf="confirm.accType=='ship'; else condition2"><i class="fa fa-ship"></i>
              {{confirm?.hotelName}}</p>
            <ng-template #condition2>
              <p><i class="fa fa-hotel"></i> {{confirm?.hotelName}}</p>
            </ng-template>
          </div>
        </div>


      </div>
    </div>
    <div class="col-sm-9 ">
      <legend><h3 class="text-center intro-text">Your Booking Details</h3></legend>
      <!-- <p *ngIf="confirm?.tourName" class="text-center alert alert-warning" >To secure the reservation you should review your booking details below & pay</p> -->
      <div class="panel panel-primary "> 
          <!-- <div class="panel-heading text-center"><h4>Review & pay</h4></div> -->
          <div class="panel-body"> </div>
          <form name="form" #f="ngForm" (ngSubmit)="submitPay(f)"  novalidate>
              <!-- <fieldset class="scheduler-border"> -->
                <legend class="scheduler-border"><i class="fa fa-users"></i>&nbsp;Passenger Names</legend>
                <div class="well">
                <div class='row' *ngFor="let item of confirm?.paxDetails;let row=index" >
                  <div class='col-sm-4 align-right' ><i class="fas fa-user"></i>&nbsp;Passenger {{row + 1}}</div>
                  <div class='col-sm-8 pax' >
                      {{item.paxName}}
                    {{item.paxType =='A' ?'(Adult)' :'(Child)'}}
                  </div>
                </div>
              </div>
               
              <!-- </fieldset> -->
              <!-- <fieldset class="scheduler-border"> -->
                <legend class="scheduler-border"><i class="fa fa-address-book"></i>&nbsp;Contact Details</legend>
                <div class="well">
                <table class="table table-condensed borderless">
                    
                    <tbody>
                      <tr>
                        <td class="align-right col-sm-4"><i class="fas fa-envelope"></i>&nbsp;Email</td>
                        <td>{{confirm.contactDetails.leadPaxEmail}}</td>
                       
                      </tr>
                      <tr>
                        <td class="align-right col-sm-4"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>&nbsp;Daytime Telephone</td>
                        <td>{{confirm.contactDetails.leadPaxPhone}}</td>
                       
                      </tr>
                      <tr>
                          <td class="align-right col-sm-4"><i class="fas fa-home"></i>&nbsp;Postal Address</td>
                          <td>{{confirm.contactDetails.CCardAddresses1}} <p class="address">{{confirm.contactDetails.CCardAddresses2}}</p>
                            <p class="address">{{confirm.contactDetails.CCardCities}}</p>
                            <p class="address">{{confirm.contactDetails.CCardCountry}}</p>
                            <p class="address">{{confirm.contactDetails.CCardPostCodes}}</p></td>
                         
                        </tr>
                    </tbody>
                  </table>
                </div>
                <legend class="scheduler-border"><i class="fa fa-money-bill"></i>&nbsp;Cost Breakdown </legend>
                <div class="well">
                <table class="table borderless table-condensed" >
   
                    <tbody>
                       
                      <tr  *ngFor="let item of confirm?.costDetails">
                        <td class="align-right col-sm-7" [innerHTML]=" item.descr"></td>
                        <td class="col-sm-5">&pound;{{item.cost}}</td>
                        
                      </tr>
                      
                      <tr>
                        <td  class="align-right  col-sm-7"><strong>Total Cost</strong></td>
                        
                        <td ><div class="line"></div> &pound;{{confirm.costSummary.totalcost}}</td>
                       
                      </tr>
                      <tr>
                        <td class="align-right col-sm-7"><strong>Deposit required now</strong></td>
                        <td><div class="line"></div> &pound;{{confirm.costSummary.depositrequired}}</td>
                       
                      </tr>
                      <tr>
                          <td class="align-right col-sm-7"><strong>Balance due</strong></td>
                          <td> {{confirm.costSummary.balancedue}}</td>
                         
                        </tr>
                      
                    </tbody>
                  </table>
                </div>
                <legend class="scheduler-border"><i class="far fa-money-bill-alt"></i>&nbsp;Your Payment Options</legend>
                
                <p class="payment-note alert alert-info"><i class="fa fa-info-circle"></i>&nbsp;NB: All our payments are made through the RealEx Payments© secure gateway. This
                  gives our customers the added security of knowing that their card details are never held on our system
                  and that the transactions are made in the most secure online environment possible.</p>
               
                <div class="well">
                <div class='row'>
                   
                  <div class='col-sm-10 col-sm-offset-2'>
      
                   
                   
      
                    <label>
                    <input type="radio" name="CCardAmount"   [(ngModel)]="opt" value="full"  /> Pay in full
                    (&pound;{{confirm.costSummary.totalcost}})</label><br>
                    <label>
                    <input type="radio" name="CCardAmount" #CCardAmount="ngModel"  [(ngModel)]="opt" value="deposit"  /> Pay the deposit
                    (&pound;{{confirm.costSummary.depositrequired}})</label>
      
      
                   
      
                  </div>
                </div>
              </div>
               
               
           
              <!-- </fieldset>
              <fieldset class="scheduler-border"> -->
                
                <legend class="scheduler-border"><i class="fa fa-credit-card"></i>&nbsp;Select Payment Card Type</legend>
                <div class="well">
                <div class='row' *ngFor="let card of confirm?.paymentOptions.payCards;let temp=index">
                    <div class='col-sm-10 col-sm-offset-2'>
                       
                      <label>
                        <input type="radio" value="{{card.id}}" name="paymentOption" #paymentOption="ngModel" [(ngModel)]="radioSelected"  />&nbsp;{{card.value}}
                      </label>
      
                   
                  </div>
         
                </div>
              </div>
              <!-- </fieldset>
              <fieldset class="scheduler-border"> -->
                  <legend ><i class="fa fa-file" aria-hidden="true"></i>&nbsp;Terms & Conditions</legend>
                  <div class="well">
                  <div class='row'>
                      <div class='col-sm-12'>
                          <div class="checkbox">
                              <span 
                              [hidden]="terms.valid|| (terms.pristine && !f.submitted)"><span class="label label-important arrowed-in text-error">This field is required</span></span>
                              <label>
                                  <input type="checkbox" name="terms" #terms="ngModel" ngModel   required   /> Please tick the box to accept the <a href="https://www.newmarketholidays.co.uk/tandc_gen" target="_blank">Terms and Conditions</a>  and that you have 
                                  read the details of the Insurance cover you have bought
                              </label>
                             
                          </div>
                     
                          
        
        
                    </div>
                  </div>
                </div>
                <hr>
                <!-- </fieldset> -->
                <div class='row'>
                    <div class='col-sm-12'>
      
                         
                       <p class="payment-note">Click the <strong>'Pay and Book Now'</strong> button if you wish to purchase this holiday now.The final costing of your holiday is displayed above.</p>
      
      
                    </div>
                   
                </div>
                <div class='row'>
                <div class='col-sm-12'>
      
                    <button class="btn btn-primary btn-lg"  >Pay and Book Now&nbsp;<i class="fa fa-angle-double-right"></i></button>
  
  
                </div>
              </div>
            </form>
      </div>
      
    </div>




  </div>
</div>
<ng-template #errorBlock>
  <div class="container">
    <div class="alert alert-danger booking-error">{{error}}</div>
  </div>
</ng-template>

<div *ngIf="!loading" class="container-fluid">
  
  <div class="panel-group text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">XML output</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
       
      </div>
    </div>
  </div>
</div>

