.panel-group,.top-padding
{
    padding-top:20px;
}


.itinerary-divider
{
  margin-top:2px;
  margin-bottom: 2px;
}
.address
{
  line-height:10px;
}
.align-right
{
  text-align: right;
  font-weight:bold;
}
.payment-note
{
  font-style: italic;

}
.pax
{
  font-weight:bold;
}
div.line
{
    height: 3px;
    width: 70px;
    background-color: #000;
}

/* fieldset.scheduler-border {
  
  background-color: #fcf8e3;
  border-radius:5px;
  border: 1px double  #faebcc !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 20px 0 1.5em 0 !important;
  
 
}

  legend.scheduler-border {
      font-size: 1.1em !important;
      font-weight: bold !important;
      text-align: left !important;
      width:auto;
      padding:0 10px;
      background-color: #fcf8e3;
      border:1px solid ;
      border-radius: 5px;
  } */

  .borderless td, .borderless th {
    border: none;
    /* background-color: #f8f8f8; */
  }
  .well
  {
    border:none;
    
  }

  .table
  {
    margin-bottom: 0;
  }
  .label.arrowed, .label.arrowed-in {
    position: relative;
    
  }
  .label {
    
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
   
  }
  .label-important, .badge-important {
    background-color: #FF3D61!important;
   
  }
  .btn-primary
  {
    width:100%;
  }

  legend
  {
    color:#337ab7;
  }
  .alert-warning
{
  margin-bottom: 0;
}