
  <div *ngIf="loading" class="loading-modal">
      <div class="loading-modal__block">
          <i class="fas fa-spinner loading-modal__icon"></i>
          <p>Please wait...</p>
      </div>
    </div> 
    <div *ngIf="!loading">
<div class="container" *ngIf="!error; else errorBlock">
   
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
   

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      
      <div class="item" *ngFor="let image of tour?.images" [ngClass]="{'active': image.slot =='1'}" >
        <img  src="{{image?.url}}" alt="" style="width:100%;">
        <div class="carousel-caption">
          <!-- <h1>{{tour?.prodWebName}}</h1>
          <h2>{{tour?.duration}} nights from {{tour?.fromPrice| currency:'GBP':true:'2.0-0'}}</h2>
          <h3>{{tour?.period}}</h3> -->
          <div class="flash-offer"><div class="flash-offer__body"><div class="flash-offer__title"><h1>{{tour?.prodWebName}}</h1></div><div class="flash-offer__content"><h3><p class="m-0">{{tour?.duration}} nights from &pound;{{tour?.fromPrice}}</p></h3><h4><p class="m-0">{{tour?.period}}</p></h4></div></div></div>
        </div>
      </div>

    
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <div class="jumbotron " *ngIf="tour?.tourData">
      <form class="form-inline" role="form" #f="ngForm" (ngSubmit)="submitBooking(f)" novalidate >
        <div class="form-group" *ngIf="tour.transportType=='AIR' || tour.transportType=='RAIL'">
         
          <select class="form-control" [ngClass]="{ 'is-invalid': f.submitted && airport.invalid }" required  name="airport" #airport="ngModel"  ngModel (change)="onChange(airport.viewModel.name)"  >
              <option value="" selected disabled hidden>Select Airport or Station</option>
              <option  *ngFor="let item of tour.tourData" [ngValue]="item" >{{item.name}}</option>
             
            </select>
            <span class="text-error" [hidden]="airport.valid|| (airport.pristine && !f.submitted)">*</span>
        </div>
       
        <div class="form-group"  *ngIf="tour.transportType=='AIR' || tour.transportType=='RAIL'">
         
          <select class="form-control"  name="date" [ngClass]="{ 'is-invalid': f.submitted && date.invalid }" #date="ngModel" ngModel required >
              <option value="" selected disabled hidden>When....</option>
              <option  *ngFor="let item of depdates" >{{item}}</option>
            </select>
            <span class="text-error" [hidden]="date.valid|| (date.pristine && !f.submitted)">*</span>
        </div>
        <div class="form-group"  *ngIf="tour.transportType=='MYOW' ">
         
          <select class="form-control" name="date" [ngClass]="{ 'is-invalid': f.submitted && date.invalid }" #date="ngModel" ngModel required >
              <option value="" selected disabled hidden>When....</option>
              <option  *ngFor="let item of tour.tourData" >{{item}}</option>
            </select>
            <span class="text-error" [hidden]="date.valid|| (date.pristine && !f.submitted)">*</span>
        </div>
        <div class="form-group">
            <label for="pwd">Adults :</label>
            <select class="form-control" name="adult" #adult="ngModel" ngModel="2">
                <option value="1" >1</option>
                <option value="2" >2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              
              </select>
              
          </div>
          <div class="form-group">
              <label for="pwd">Children :</label>
              <select class="form-control" name="children" #children="ngModel"  ngModel="0">
                  <option value="0" selected>--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                
                </select>
               
            </div>
            <div class="form-group">
                <label for="pwd">Infants :</label>
                <select class="form-control" name="infant" #infant="ngModel" ngModel="0">
                    <option value="0" selected>--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  
                  </select>
              </div>
        <button class="btn btn-primary" >Quote & Booking >></button>
        <div class="form-group">
                                         
          <div class="checkbox" >
              <!-- <label>
                  <input type="checkbox" name="MarketingPrefs_{{j}}" #MarketingPrefs="ngModel" ngModel value="{{item.id}}"   /> {{item.value}}
              </label> -->
              <label  *ngIf="tour.transportType=='AIR' || tour.transportType=='RAIL'">
                  <input type="checkbox" name="touronly" value="Y" #touronly="ngModel" ngModel   /> Tour only
              </label>
              <label>
                <input type="checkbox" name="agentCode" value="TEST"  #agentCode="ngModel" ngModel   /> Travel Agent (TEST)
            </label>
          </div>
          
      
  </div>
      </form>
    </div> 
    <!-- <app-reevoo-reviews [childMessage]="parentMessage"></app-reevoo-reviews> -->
    <!-- <div class="row " > 
      <div class="col-sm-offset-9">
         
        <reevoo-reviewable-badge trkref="NMH" sku="17318"></reevoo-reviewable-badge>
  </div>
  </div> -->
  <div class="row text-center">
    <div class="col-sm-12">
        <h3 style="text-transform:uppercase"  [innerHTML]="tour?.tourIntroTitle" ></h3>
        <h5 [innerHTML]="tour?.intro"></h5>
</div>
</div>
    <div class="accordion-option">
     
      <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
    </div>
    <div class="clearfix"></div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-primary boxshadow"  *ngIf="tour?.wpi" >
        <div class="panel-heading" *ngIf="tour?.wpiTitle" role="tab" id="headingOne">
          <h4 class="panel-title text-center">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           {{ tour?.wpiTitle}}
         
          </a>
        </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body " >
         
            <ul  class="fa-ul ">
              <li *ngFor="let item of tour?.wpi"  ><i class="fa-li fa fa-check-circle" style=" color: #337ab7;"></i><p *ngIf="item" >{{item}}</p></li>
              
            </ul>
          </div>
        </div>
      </div>
      
      <br/>
      <div class="panel panel-primary boxshadow" *ngFor="let item of tour?.introTitles| slice:1:tour?.introTitles?.length;let i = index">
        <div class="panel-heading"  role="tab" id="headingTwo">
          <h4 class="panel-title text-center">
          <a *ngIf="tour?.introTitles[i]" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            {{ tour?.introTitles[i]}}
          </a>
        </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body"[innerHTML] ="tour?.introBodies[i]">
            
           
          </div>
        </div>
      </div>
      <br/>
      <div class="panel panel-primary boxshadow" *ngIf="tour?.ItinBody">
        <div class="panel-heading" *ngIf="tour?.ItinTitle" role="tab" id="headingTwo">
          <h4 class="panel-title text-center">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            {{ tour?.ItinTitle[0]}}
          </a>
        </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body" >
            
            <ul class="fa-ul" >
              <li *ngFor="let item of tour?.ItinBody;let i = index"><i class="fa-li fa fa-calendar-alt" style=" color: #337ab7;"></i><span class="itinerary">{{tour?.ItinTitle[i + 1]}}<hr class="itinerary-divider"></span><p [innerHTML]="item"></p></li>
              
            </ul>
          </div>
        </div>
      </div>
      <br/>
      <div class="panel panel-primary boxshadow" *ngIf="tour?.furtherInfoBody">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title text-center" *ngIf="tour?.furtherInfoTitle">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            {{ tour?.furtherInfoTitle[0]}}
          </a>
        </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body" >
           
            <ul  class="fa-ul" >
              <li *ngFor="let item of tour?.furtherInfoBody;let i = index"><i class="fa-li fa fa-info-circle" style=" color: #337ab7;"></i><span class="further-info">{{tour?.furtherInfoTitle[i + 1]}}</span><p [innerHTML]="item"></p></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-12">
        <reevoo-experiences-embedded  styles-brand-color="rgb(246, 148, 50)"  embedded-title="Your holiday through the eyes of our customers" description="Don't just take our word for it, see what our customers experience on their travels with Newmarket Holidays" trkref="NMH" cards-per-page="6" show-card-driver="true" tags="general:{{test}}" spotlight-action-button-title="VIEW MORE">
        </reevoo-experiences-embedded>   

      </div>
    </div> -->
  </div>



  <ng-template #errorBlock><div class="container"> <div class="alert alert-danger booking-error">{{error}}</div></div></ng-template>
  <br>
  <div *ngIf="!loading" class="container-fluid">
  
    <div class="panel-group text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">XML output</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
         
        </div>
      </div>
    </div>
  </div>
</div>