.panel-primary>.panel-heading {
    /* color: #333;
    background-color: #fff; */
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel-primary>.panel-heading a {
    display: block;
    padding: 10px 15px;
  }
  
  .panel-primary>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
  .panel-primary>.panel-heading a[aria-expanded="true"] {
    /* background-color: #eee; */
  }
  
  .panel-primary>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .panel-primary>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
  }
  
  .accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
  }
  
  .accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
  }
  
        
.panel-title
{
  text-transform: uppercase;
}
.further-info, .itinerary{
  font-weight: bold;
  text-transform: capitalize;
  
}
.itinerary-divider
{
  margin-top:5px;
  margin-bottom: 5px;
}
.form-inline {
  margin: 0 -3px;
}

.form-inline .form-group label,
.form-inline .form-group input,
.form-inline .form-group select ,
.form-inline button
{
  margin: 0 5px;
}

.flash-offer {
  text-align:center;
  position: relative;
  display: block;
  border: 0.25rem solid white;
  margin-top: 0.5rem;
  background-color: transparent;
  -webkit-box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.75);
}

.flash-offer__body {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.flash-offer__title {
  position: relative;
  
  /* font-family: "Dear Joe Casual", "loraregular", Times New Roman !important; */
  font-size: 16px;
  /* padding-bottom: 5px; */
  color: #fff;
  font-weight: 800;
 
}
.flash-offer__content {
  font-size: 14px;
}
@media (min-width: 992px) {
  .flash-offer__body {
      padding: 1.5rem 7.5rem;
  }
}
@media (min-width: 768px) {
  .flash-offer__title {
      font-size: 28px;
  }
  .flash-offer__content {
      font-size: 1.25rem;
  }
}




