/* You can add global styles to this file, and also import other style files */
body { 
    padding-top: 51px; 
    letter-spacing: 1px;
}
button,select,option{
  letter-spacing: 1px;
}
.booking-error
{
    margin-top:20px;
}

.text-error
{
  color:#FF3D61;
  font-weight:bold;
}
.imagebox {
    background: #f8f8f8;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
  }
  
  .imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0px;
    color: white;
    font-size: 1.2em;
    left: 0px;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
  }
  
  .imagebox:hover img {
    opacity: 0.7;
  }
  
  .imagebox:hover .imagebox-desc {
    padding-bottom: 10%;
  }

 

  .loading-modal {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 0.9375rem;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.loading-modal__block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    text-align: center;
}

.loading-modal__icon {
    position: relative;
    display: block;
    font-size: 2rem;
    margin-bottom: 0.9375rem;
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -ms-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    animation-timing-function: linear;
}

.even { background-color: #d9edf7; }
.odd { background-color: white; }


.boxshadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
 
}

/* Make the image fit the box */
/* .boxshadow img {
  width: 100%;
  border: 1px solid #8a4419;
  border-style: inset;
} */

.boxshadow::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        
  width: 70%; 
 /* one half of the remaining 30% */
 left:15%;
 
  bottom: 0;
}

.panel-primary
{
  border:none;
}

.select-style {
  position: relative;
  border-radius: 5px;
  
  width: auto;
 
  height: 30px;
 

 background-repeat: none;
  padding-left: 15px;
}


.is-invalid
{
  border:1px solid #f00;
}
.intro-text
{
  color:#337ab7;
  
}

