<div class="jumbotron">
  <h1 class="text-center overlay-text">Where stories begin</h1> 
  <p class="text-center overlay-text">Start your adventure 
    with us</p> 
</div>
<!-- Container (About Section) -->
<div class="container">
  <div class="row text-center">
    <div class="col-sm-12">
      <h2 >WORLD-WIDE ESCORTED TOURS & CRUISES</h2>
     
      <p>Discover and explore the world’s must-see, must-do destinations on a vast range of carefully crafted, tremendous value holidays with one of the UK’s most respected, independent tour operators. The best travel stories - yours - begin when you choose Newmarket Holidays.Experience the natural glories, iconic sights, ancient treasures and modern wonders of some of the world’s most enthralling and extraordinary places.Step aboard a fleet of traditional, British-operated vessels in a wide choice of ports, and sail in comfort and style to a host of fascinating places, at hard-to-believe prices.Beautiful ships. Beautiful rivers. Combined on relaxing holidays featuring a host of activities, fascinating ports of call and a host of included and optional excursions.</p>
     
     
    </div>
   
  </div>
</div>
