.jumbotron {
    width:100%;
    height:575px;
    background: url('https://cdn.assets.newmarketholidays.co.uk/WS_Images/Pages/HomePage/1920x700-Getty-117294132-LakeMaggiore-Italy.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
  }
  .overlay-text{
   color: white;   
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
  }
  