<div *ngIf="loading" class="loading-modal">
  <div class="loading-modal__block">
      <i class="fas fa-spinner loading-modal__icon"></i>
      <p>Please wait...</p>
  </div>
</div>
<!-- Navigation Area (Circular Tabs) -->
<form #roomForm="ngForm"  novalidate>
  <app-navbar [childMessage]="parentMessage"></app-navbar>
  
  <div class="container"  *ngIf="!error; else errorBlock">
    <div class="row">
      <div class="col-sm-3 " >
        <div class="panel-group" >
          <div class="panel panel-info " *ngIf="room?.tourName">
            <div class="panel-heading"><strong>Your Itinerary</strong></div>
            <div class="panel-body">
  
              <p><strong>{{room?.tourName}}</strong></p>
              <strong>Passengers</strong><hr class="itinerary-divider">
              <p><i class="fa fa-user" ></i> Adults {{room?.fAdults}}</p>
              <p><i class="fa fa-child"></i> Children  {{room?.fChildren}}</p>
              <strong>Departure details</strong><hr class="itinerary-divider">
  <p><i class="far fa-calendar-check" ></i> Date {{room?.tourDepDate}}</p>
  <p *ngIf="bookingParams.tourTransport=='AIR'"><i class="fa fa-plane" ></i> From {{room?.depPointName}}</p>
  <p *ngIf="bookingParams.tourTransport=='RAIL'"><i class="fa fa-train" ></i> From {{room?.depPointName}}</p>
            </div>
          </div><br>
          <div class="panel panel-info " *ngIf="room?.tourName">
              <div class="panel-heading"><strong>Accommodation details</strong></div>
              <div class="panel-body">
    
   
    <p *ngIf="room.accType=='ship'; else condition2"><i class="fa fa-ship" ></i> {{room?.hotelName}}</p>
    <ng-template #condition2><p ><i class="fa fa-hotel" ></i> {{room?.hotelName}}</p></ng-template>
              </div>
            </div>
        
          
        </div>
      </div>
      
      <div class="col-sm-9" *ngIf="room?.tourName">
          <div class="panel-group">
              <legend *ngIf="room?.tourName" class="text-center intro-text"><h3><b>Your Accommodation</b></h3></legend> 
              <!-- <p *ngIf="room?.tourName && room?.accType=='hotel'" class="text-center alert alert-warning">This hotel offers a range of rooms and suites.Select what type of room you would prefer </p> 
              <p *ngIf="room?.tourName && room?.accType=='ship'" class="text-center alert alert-warning">This ship offers a range of cabins and suites.Select what type of cabin you would prefer </p>  -->
          <div class="panel panel-primary boxshadow">
              <div class="panel-heading">{{room.hotelName}}</div>
              <div class="panel-body">  <div class="row"><div class="col-sm-12" >
                  <h4 *ngIf="room.accType=='ship'; else elseblock"><i class="fa fa-bed"></i> Cabin Availability and prices</h4>
                  <ng-template #elseblock><h4 ><i class="fa fa-bed"></i> Room Availability and prices</h4></ng-template>
                  </div></div> <div class="row">
                      <div class="col-sm-12" >
                   
                      <table class="table table-hover ">
                        <thead>
                          <tr>
                            <th><strong>Required</strong></th>
                            <th *ngIf="room.accType=='ship'; else roomType1"><strong>Cabin type</strong></th>
                            <ng-template #roomType1><th c ><strong>Room type</strong></th></ng-template>
                            <th><strong>Maximum Occupancy</strong></th>
                            <th><strong>Was Price</strong></th>
                            <th><strong>Price</strong></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of room?.availability ; let index=index; let odd=odd; let even=even;"  [ngClass]="{ odd: odd, even: even }">
                            <td><select class="select-style"    name="AccomCatsSel1_{{index + 1}}" #selected="ngModel" [ngModel]="item.range[0]"   (change)="setRoomClone(selected,item.code,item.maxOcc,item.minOcc)" >
                              
                              <option *ngFor="let i of item.range">{{i}}</option></select></td>
                            <td>{{item.descr}}<span *ngIf="room.tourTransport=='MYOW'"> - {{item.unitNumber}}</span></td>
                            <td>{{item.maxOcc}}</td>
                            <td>{{item.wasPrice| currency:'GBP':true:'0.0-0'}}</td>
                              <td>{{item.rate| currency:'GBP':true:'2.0-0'}}</td>
                            
                          </tr>
                       
                        </tbody>
                      </table>
                    </div>
              </div>
              
            </div>
              <div class="panel-footer acco"> <button type="button" (click)="selectRoom(roomForm)"  class="btn btn-primary  ">Continue&nbsp;<i class="fa fa-angle-double-right"></i></button></div>
            </div>
          </div>
       
       
       
       
    
      </div>
      
    </div>
  </div>
  
  <ng-template #errorBlock><div class="container"> <div class="alert alert-danger booking-error">{{error}}</div></div></ng-template>
  <div *ngIf="!loading" class="container-fluid">
  
    <div class="panel-group text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">XML output</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body"><pre style="text-align: left;" >{{response}}</pre></div>
         
        </div>
      </div>
    </div>
  </div>
  </form>
    