.panel-group,.top-padding
{
    padding-top:20px;
}


.itinerary-divider
{
  margin-top:2px;
  margin-bottom: 2px;
}

.panel-footer.acco {
    height: 50px ;
  }
  .btn-primary 
  {
    width:100%;
  }

  

  

